body {
    background-color: lightblue
}
h2 {
    color: black;
    margin-left: 100px;
    text-align: center;
    font-family: verdana;
    text-decoration: underline;
}
#p1  {
    color: blue;
    margin-left: 100;
    text-align: left;
    font-family: 'Times New Roman';
}
#p2  {
    color: blue;
    margin-left: 100;
    text-align: left;
    font-family: 'Times New Roman';
}
#p3  {
    color: blue;
    margin-left: 100;
    text-align: left;
    font-family: 'Times New Roman';
}
#p4  {
    color: blue;
    margin-left: 100;
    text-align: left;
    font-family: 'Times New Roman';
}
#p5  {
    color: blue;
    margin-left: 100;
    text-align: left;
    font-family: 'Times New Roman';
}
#a1 {
    color: red;
    text-align: center;
}